services:
  postgres:
    image: postgres:15-alpine
    container_name: local-postgres
    environment:
      POSTGRES_DB: tg_budget
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    ports:
      - "5542:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#
#volumes:
#  postgres_data:
